/*********************************** 
REGOLE GENERALI
***********************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #141922;
    color: white;
}

main {
    display: flex;
}


/*********************************** 
BARRA LATERALE
***********************************/
.barra-laterale {
    display: flex;
    width: 230px;
    height: calc(100vh - 90px);
    /* DEBUG */
    background-color: black;
}




/*********************************** 
CORPO PRINCIPALE
***********************************/
.corpo {
    height: calc(100vh - 90px);
    overflow-y: auto;
    width: 100%;
    background-color: red;
}

.cta {
    height: 90px;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    color: white;
    position: fixed;
}

.categorie {
    margin-top: 100px;
}

.musica {
    
}




/*********************************** 
FOOTER
***********************************/
footer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 90px;
    /* DEBUG */
    background-color: #222222;
}

.media-player {
    display: flex;
    width: 100%;
}

.canzone {
    display: flex;
    align-items: center;
    height: 100%;
    width: calc(100% / 3);
    /* DEBUG */
    /* border-style: dashed;
    background-color: green; */
}
#img-player {
    margin-right: 10px;
    width: 40px;
}

.player {
    height: 100%;
    width: calc(100% / 3);
}

.volume {
    height: 100%;
    width: calc(100% / 3);
}
