/*********************************** 
REGOLE GENERALI
***********************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #141922;
    color: grey;
    font-weight: 700;
}

main {
    display: flex;
}

ul {
    list-style: none;
}

hr {
    margin: 10px 0px;
}

h1 {
    margin-top: 20px;
}

.white-text {
    color: white;
}

img {
    cursor: pointer;
    position: relative;
}

/*********************************** 
BARRA LATERALE
***********************************/
.container-barra-laterale {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 230px;
    height: calc(100vh - 90px);
    overflow-y: auto;
    background-color: black;
}

.container-top-barra {
    margin: 15px;
}

.logo-spotify {
    width: 130px;
}

.navigazione {
    margin-top: 20px;
}
.nuova-playlist {
    margin-top: 10px;
}
a {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
    text-decoration: none;
    color: grey; 
}
.icone-barra {
    width: 25px;
    margin-right: 10px;
}

.playlist {
    margin-top: 20px;
}
.fa-square-plus {
    font-size: 40px;
    margin-right: 5px;
}

.container-bottom-barra {
    margin: 15px;
}
.fa-circle-down {
    margin-right: 15px;
}
.icona-propic {
    width: 25px;
    margin-right: 10px;
    background-color: grey;
    border-radius: 20px;
}




/*********************************** 
CORPO PRINCIPALE
***********************************/
.corpo {
    height: calc(100vh - 90px);
    overflow-y: auto;
    width: 100%;
    background-color: #141922;
}

.cta {
    height: 90px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#upgrade {
    color: white;
    border-color: white;
    background: none;
    padding: 10px 40px;
    border-radius: 50px;
    margin-right: 200px;
}

.musica {
    margin: 0px 20px 100px 20px;
}
.categorie {
    margin: 100px 20px 20px 20px;
}
.ul-categorie {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.lista-categorie {
    margin: 10px 20px;
}

.lista-dischi {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.container-disco {
    width: calc((100% / 6) - (100px / 6));
    position: relative;
    cursor: pointer;
}
.img-disco {
    max-width: 100%;
    margin-bottom: 5px;
}
.text {
    display: flex;
    justify-content: center;
}
#img-tonda {
    border-radius: 50%;
}

/*********************************** 
HOVER
***********************************/
/* hover barra laterale */
.no-display-barra:hover {
    color: white;
}
.hover-white:hover {
    color: white;
}

/* hover corpo principale */
.hover-white-green:hover {
    color: white;
}



/* .container-disco:hover .no-hover {
    display: none;
}
.container-disco:hover .hover {
    display: block;
}

.no-hover {
    display: block;
}

.hover {
    display: none;
} */



/*********************************** 
FOOTER
***********************************/
footer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 90px;
    background-color: #222222;
}

.media-player {
    display: flex;
    width: 100%;
}

.canzone {
    display: flex;
    align-items: center;
    height: 100%;
    width: calc(100% / 3);
    /* DEBUG */
    /* border-style: dashed;
    background-color: green; */
}
#img-player {
    margin-right: 10px;
    width: 45px;
}
.brano-nome {
    margin-right: 30px;
}
.icone-brano-nome {
    font-size: 15px;
}

.player {
    height: 100%;
    width: calc(100% / 3);
}

.volume {
    height: 100%;
    width: calc(100% / 3);
}









/*********************************** 
RESPONSIVE 880PX
***********************************/
@media screen and (max-width: 880px) {

    .container-disco {
    width: calc((100% / 4) - (60px / 4));
    }
}

/*********************************** 
RESPONSIVE 640PX
***********************************/
@media screen and (max-width: 640px) {

    .container-disco {
    width: calc((100% / 2) - (20px / 2));
    }
}

/*********************************** 
RESPONSIVE 550PX
***********************************/
@media screen and (min-width: 551px) {
    .no-display-big {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    .container-disco {
    width: calc((100% / 2) - (20px / 2));
    }

    .container-barra-laterale {
        width: 50px;
    }
    .container-top-barra {
        margin: 10px 10px;
    }
    .logo-spotify {
        width: 30px;
    }
    .icone-barra {
        margin: 0px;
    }


    .container-bottom-barra {
        margin: 0px;
    }
    .fa-circle-down {
        margin: 0 auto;
        padding-bottom: 20px;
    }
    .icona-propic {
        width: 25px;
        margin: 0 auto;
    }

    .no-display-barra {
        display: none;
    }
    #no-display-barra {
        display: none;
    }

    .categorie {
        margin: 100px 0px 20px 0px;
    }
}