/*********************************** 
REGOLE GENERALI
***********************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #141922;
    color: grey;
    font-weight: 700;
}

main {
    display: flex;
}

ul {
    list-style: none;
}
hr {
    margin: 10px 0px;
}

/*********************************** 
BARRA LATERALE
***********************************/
.container-barra-laterale {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 230px;
    height: calc(100vh - 90px);
    background-color: black;
}

.container-top-barra {
    margin: 15px;
}

.logo-spotify {
    width: 130px;
}

.navigazione {
    margin-top: 20px;
}
.nuova-playlist {
    margin-top: 10px;
}
a {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
    text-decoration: none;
    color: grey; 
}
.icone-barra {
    width: 25px;
    margin-right: 10px;
}

.playlist {
    margin-top: 20px;
}
.fa-square-plus {
    font-size: 40px;
    margin-right: 5px;
}

.container-bottom-barra {
    margin: 15px;
}
.fa-circle-down {
    margin-right: 15px;
}
.icona-propic {
    width: 25px;
    margin-right: 10px;
    background-color: grey;
    border-radius: 20px;
}




/*********************************** 
CORPO PRINCIPALE
***********************************/
.corpo {
    height: calc(100vh - 90px);
    overflow-y: auto;
    width: 100%;
    background-color: #141922;
}

.cta {
    height: 90px;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    color: white;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#upgrade {
    color: white;
    border-color: white;
    background: none;
    padding: 10px 40px;
    border-radius: 50px;
    margin-right: 200px;
}

.categorie {
    margin: 100px 20px 20px 20px;
}
.ul-categorie {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.lista-categorie {
    margin: 10px 20px;
}




/*********************************** 
FOOTER
***********************************/
footer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 90px;
    /* DEBUG */
    background-color: #222222;
}

.media-player {
    display: flex;
    width: 100%;
}

.canzone {
    display: flex;
    align-items: center;
    height: 100%;
    width: calc(100% / 3);
    /* DEBUG */
    /* border-style: dashed;
    background-color: green; */
}
#img-player {
    margin-right: 10px;
    width: 45px;
}
.brano-nome {
    margin-right: 30px;
}
.icone-brano-nome {
    font-size: 15px;
}

.player {
    height: 100%;
    width: calc(100% / 3);
}

.volume {
    height: 100%;
    width: calc(100% / 3);
}
